
.main {
    width: 95%;
    margin: auto;
}

.block{
    height: 130px;
}

.buttonsAndFrase{
    width: 100%;
    height: 281px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F4A77D;
}

.buttonsAndFrase p{
    font-size: 60px;
    color: #413634;
}

.wrapper {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content:left ;
    width: 30%;
    height: 3.5vw;
    border: 2px solid #000;
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    right:53%;
    transform: translateY(-50%);
  }

  .icon2 {
    height: 100%;
    width: 2rem;
    background-image: url(../images/FaceUser.svg);
    background-position: center;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:0;
    transform: translateY(-50%);
  }
  
  .input {
    height: 50px;
    box-sizing:border-box;
    padding-left: 1.5rem;
  }