.AreaCostura{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130vh;
    flex-direction: column;
}
.Conteiner100 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
    margin-top: 5vh;
    

}
.ConteinerMenor1{
    height: 66.389vh;
    width: 38%;
    background-image: url(../imagens/costureiro.svg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10vh;
}
.ConteinerMenor1 img {
    width: 100%;
    height: auto;
}
.ConteinerMenor1 button {
    background-color: #F5B087;
    width: 50%;
    height: 30%;
    border-radius: 20px;
    border: #F5B087 solid 1px;
    font-size: 2em;
    text-align: center;

}
.ConteinerMenor1 button:hover{
    transition: 0.3s;
    background-color: #90B49D;
    border: #FCD0C3 solid 1px;
}
.ConteinerMenor2{
    height: 66.389vh;
    width: 38%;
    background-image: url(../imagens/cliente.svg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10vh;
}
.ConteinerMenor2 img {
    width: 100%;
    height: auto;
    background-size: cover;
}
.ConteinerMenor2 button {
    background-color: #90B49D;
    width: 50%;
    height: 30%;
    border-radius: 20px;
    border: #90B49D 1px solid;
    font-size: 2em;
    text-align: center;
}
.ConteinerMenor2 button:hover{
    transition: 0.3s;
    background-color: #F5B087;
    border: #8F9C92 1px solid;
}

.linkao{
    text-decoration: none;
    color: #413634;
    font-size: 37px;
}

.linhahome{
    margin-top: -170px;
    width: 100%;
}